page-login {
    .circle-pic{
        width:100px;
        height:100px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        text-align: center;
    }
    .new{
        text-align: center;
    }
    .headertitle{
        text-align: center;
    }
    .table{
        text-align: center;
    }
}
